<container>
	<ul class="nav nav-tabs">
		<li ng-class="{active:tab.isSet('home')}">
			<a href ng-click="tab.setTab('home')">Home</a>
		</li>
		<li ng-class="{active:tab.isSet('news')}">
			<a href ng-click="tab.setTab('news')">News</a>
		</li>
		<li ng-class="{active:tab.isSet('biography')}">
			<a href ng-click="tab.setTab('biography')">Biography</a>
		</li>
		<li ng-class="{active:tab.isSet('photos')}">
			<a href ng-click="tab.setTab('photos')">Photos</a>
		</li>
		<li ng-class="{active:tab.isSet('videos')}">
			<a href ng-click="tab.setTab('videos')">Videos</a>
		</li>
		<li ng-class="{active:tab.isSet('sponsors')}">
			<a href ng-click="tab.setTab('sponsors')">Sponsors</a>
		</li>
		<li ng-class="{active:tab.isSet('contact')}">
			<a href ng-click="tab.setTab('contact')">Contact</a>
		</li>
	</ul>
</container>
